$textColor:hsl(33, 89%, 79%);
$timeColor:hsl(345, 95%, 68%);
$borderColor:#9B2226;
$bgLightBlue:#9B2226;
$bgDarkerBlue:#711f22;
body{
    background-image: url(images/pattern-hills.svg);
    background: linear-gradient(hsl(33, 100%, 11%),hsl(33, 88%, 26%),hsl(33, 75%, 34%),hsl(33, 89%, 79%));
}
.stars{
    display: none;
}
.mountain {
    content: url("../images/pattern-hills-light.png");
}
.scheme-change-container{
    background-color: $bgDarkerBlue;
    .circle{
        background-image: url('../images/sun.png');
        background-size: cover;
        width: 22px;
        height: 22px;
    }
}
.inputs{
    .label {
        color:$textColor;
    }
    .date{
        background-color: transparent;
        border: 2px solid $borderColor;
        background-color: $bgLightBlue;
        color:$textColor;
        
        &:valid,&:focus{
            border: 2px solid $borderColor;
            background-color: $bgLightBlue;
        }
    }
}
.submit{
    background-color: transparent;
    border: 2px solid $borderColor;
    color:$textColor;
}


.header{
    color: white;  

}
.container{
    .top,.flip-clock .flip-top{
        background: $bgLightBlue;
    }
    
    .bottom,.flip-clock .flip-bottom{
        background: $bgDarkerBlue;
    }
    .numbers,.flip-clock .flip-top,.flip-clock .flip-bottom {
        color: $textColor; 
    }
    .time {
        color: $textColor;
    }
}

// - Dark desaturated blue: hsl(236, 21%, 26%)
// - Very dark blue: hsl(235, 16%, 14%)
// - Very dark (mostly black) blue: hsl(234, 17%, 12%)