body{
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: bottom;
    height: 100vh;
    background: linear-gradient(hsl(266, 38%, 12%),hsl(267, 32%, 18%),hsl(267, 27%, 28%));
    overflow-x: hidden;
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: 'Red Hat Text', sans-serif;
    grid-template-rows: repeat(8,80px);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    user-select: none; 
    position: relative;
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.scheme-change-container{
    z-index: 1000000;
    top:30px;
    right:30px;
    position: absolute;
    background-color: white;
    width: 50px;
    height: 23px;
    border-radius: 8vw;
    transition: all .2s;
    .circle{
        position: absolute;
        left:2px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin-block:1px;
        transition: inherit;
    }
}
.mountain{
    z-index: 10;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0px;
}
.stars{
    width: 100%;
    height: 75%;
    position: absolute;
    top:0;
    z-index: -1;
}

form{
    position: relative;
}
.inputs{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    
    .label {
        font-size: 25px;
    }
    .date{
        width: 100%;
        height: 30px;
        font-size: 20px;
        padding-inline: 5px;
         &:valid,&:focus{
            outline: none;
        }
    }
}
.submit{
    width: 150px;
    height: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    font-size:x-large;
    letter-spacing: 5px;
    cursor: pointer;
    margin-top: 40px;
}

.header{
    font-size: 25px;
    color: white;  
    text-align: center;
    grid-area: 1/1;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-template-rows: repeat(1,60px);
    grid-auto-flow: column;
    justify-content: center;
    text-align: center;
    column-gap: 20px;
    grid-area: 4/1;
    position: relative;
    
    .top,.flip-clock .flip-top{
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .bottom,.flip-clock .flip-bottom{
        display: block;
        align-items: flex-end;
        justify-content: center;
        display: flex;
        overflow: hidden;
        z-index: 1;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .numbers,.flip-clock .flip-top,.flip-clock .flip-bottom {
        width: 150px;
        height: 60px;
        font-size: 90px;
        vertical-align: middle;
        line-height: 1.33;
    }
    .time {
        font-size: 20px;
    }
    .flip-clock{
        position: relative;
    }
    .flip-clock .flip-top{
        position: absolute;
        content:"08";
        right:0px;
        top:0px;
        animation: flip-top 250ms ease-in;
        transform-origin:bottom;
    }
    .flip-clock .flip-bottom{
        position: absolute;
        content:"08";
        top:60px;
        animation: flip-bottom 250ms 250ms ease-in;
        transform-origin:top; 
        transform: rotateX(90deg);
    }
}

.messagge{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:350px;
    z-index: 100;
    input{
        width: 400px;
        height: 30px;
        font-size: 22px;
        padding-inline: 5px;
        &:valid,&:focus{
            outline: none;
        }
    }
}

.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .2;
    z-index: 10000;
    display: none;
}
.messagge_output_box{
    border-radius: 2vw;
    z-index: 100000;
    position: fixed;
    width: 500px;
    height: 300px;
    background: black;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: hidden;

    .messagge_output{
        overflow: scroll;
        overflow-x: hidden;
        word-wrap: break-word;
        font-size: 25px;
        text-align: center; 
        max-width: 80%;
        max-height: 80%;
        scroll-behavior: smooth;
        padding: 5px;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-size: 300% 300%;
        }   
    }
    .close{
        width: 50px;
        height: 50px;
        font-size: 40px;
        position: absolute;
        background-color: transparent;
        border: 0;
        top:5px;
        right: 5px;
    }
}



@keyframes flip-top{
    100%{
        transform: rotateX(90deg);
    }
}
@keyframes flip-bottom{
    100%{
        transform: rotateX(0deg);
    }
}

@media screen and (max-width: 750px) {
    .inputs{
        justify-content: center;
        grid-template-columns: 70%;
        gap:20px;
        .label{
            text-align: center;
        }
    }
    .container{
        zoom:0.8;
        top:100px;
    }
    .messagge{
        top:400px;
    }
    .messagge_output_box{
        width: 450px;
        height: 250px;
    }
}
@media screen and (max-width: 550px) {
    .inputs{
        justify-content: center;
        grid-template-columns: 70%;
        gap:20px;
        .label{
            text-align: center;
        }
    }
    .container{
        zoom:0.7;
        top:100px;
    }
    .messagge{
        top:350px;
        align-items: flex-end;
        input{
            width: 350px;
            font-size: 18px;
        }
    }
    .messagge_output_box{
        width: 400px;
        height: 200px;
        .messagge_output{
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 480px) {
    .inputs{
        justify-content: center;
        grid-template-columns: 75%;
        gap:20px;
        .label{
            text-align: center;
        }
    }
    .container{
        zoom:0.6;
        top:100px;
    }
    .messagge_output_box{
        width: 380px;
        height: 180px;
        .messagge_output{
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 400px) {
    .inputs{
        justify-content: center;
        grid-template-columns: 70%;
        gap:20px;
        .label{
            text-align: center;
            font-size: medium;
        }
    }
    form{
        top:50px;
    }
    .container{
        zoom:0.5;
        top:200px;
    }
    .messagge{
        grid-row-start:6;
        align-items: flex-end;
        input{
            width: 280px;
            font-size: 15px;
        }
    }
    .header{
        padding: 20px;
    }
    .messagge_output_box{
        width: 330px;
        height: 130px;
        .messagge_output{
            font-size: 20px;
        }
        .close{
            font-size: 30px;
        }
    }
}
// - Dark desaturated blue: hsl(236, 21%, 26%)
// - Very dark blue: hsl(235, 16%, 14%)
// - Very dark (mostly black) blue: hsl(234, 17%, 12%)